body {
    background-color: rgba(0, 0, 0, 0.5);
    
}

.letters,h1 {
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}
#word,h1 {
    width: 90%;
}
#word {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4em;
 
    /*height: 200px;*/
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.5);

}
.letters {
    
    border-radius: 4em;
    border-color: rgba(255, 255, 255, 0.9);
    border-style: solid;
    font-weight: 800;

    text-align: center;
    margin: 0 5px 0 5px;
    line-height: 0;
    
}
body,.letters p,h1 {
    color: red;
    text-shadow: 2px 2px white;
    font-family: 'Nosifer', cursive;
    
}
h1 {
    margin: 20px auto 20px auto;
    text-align: center;
    border-radius: 4em;
    border-color: rgba(255, 255, 255, 0.9);
    border-style: solid;

}